version: "3.9"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home

  slack-bot:
    build: .
    container_name: slack_bot
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - jenkins
    working_dir: /app
    command: ["python", "app.py"]

volumes:
  jenkins_home:
